.wrapper{
    margin: 0 auto;
    width: 1240px;
}
header{
    height: 42px;
    background-color: #333;
}
header .wrapper{
    height: 42px;
    display: flex;
    justify-content: end;
}
header .wrapper ul{
    display: flex;
    align-items: center;
}
header .wrapper ul li a{
    color: #fff;
    font-size: 14px;
    padding: 0 15px;
    border-right: 1px solid #999;
}
header .wrapper ul li a:hover{
    color: teal;
}
header .wrapper ul li:nth-child(7) a{
    border-right: none;
}
header .wrapper ul li:nth-child(7) a span{
    width: 16px;
    height: 16px;
}
/* 导航栏 */
.nav{
    height: 132px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav .nav_list ul{
    display: flex;
    justify-content: space-evenly;
}
.nav .nav_list ul li a{
    padding:10px 0;
    margin-right: 47px;
}
.nav .nav_list ul li a:last-child{
    margin-right: none;
}
.nav .nav_list ul li a:hover{
    border-bottom: 2px solid teal;
}
.nav .search{
    height: 42px;
    padding:10px 0;
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.nav .search_box{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
}
.nav .search_box input{
    margin-left: 8px;
    height: 42px;
    border: none;
}
.nav .search_box input::placeholder{
    font-size: 16px;
}
.nav .search button{
    background-color: transparent;
    color: #ccc;
    border: none;
    font-size: 20px;
}
.nav .search .cart{
    margin-left: 30px;
    font-size: 24px;
    position: relative;
}
.nav .search .cart div{
    display: block;
    width: 20px;
    height: 15px;
    color: #fff;
    font-size: 14px;
    background-color: #E26237;
    border-radius: 7.5px;
    position: absolute;
    top: 0;
    right: -7px;
    line-height: 15px;
    text-align: center;
}
/* 页脚 */
footer{
    height: 581px;
    margin-top: 40px;
}
footer .wrapper{
    height: 100%
}
footer .wrapper .top{
    display: flex;
    align-items: center;
    height: 179px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ccc;
}
footer .wrapper .top div{
    width: 190px;
    height: 58px;
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
    margin-left: 96px;
    font-size: 28px;
    line-height: 58px;
    padding-left: 78px;
}
footer .wrapper .top div:nth-child(2){
    background-position: 0 -58px;
}
footer .wrapper .top div:nth-child(3){
    background-position: 0 -116px;
}
footer .wrapper .top div:nth-child(4){
    background-position: 0 -174px;
}
footer .mid{
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
    height: 180px;
}
footer .mid .left{
    display: flex;
    justify-content: space-between;
}
footer .mid .left dl{
    margin-right: 84px;
}
footer .mid .left dt{
    width: 72px;
    font-size: 18px;
    margin-bottom: 30px;
}
footer .mid .left dd,.left dd a{
    font-size: 14px;
    margin-bottom: 10.5px;
    color: #969696;
}
footer .mid .left dl:last-child{
    width: 237px;
}
footer .mid .left dl span{
    margin-left: 5px;
    color: #6BBFAE;
}
footer .mid .right{
    /* margin-left: 84px; */
    width: 719px;
    display: flex;
    justify-content: space-between;
}
footer .mid .right img{
    width: 120px;
    height: 120px;
}
footer .mid .right div p{
    font-size: 16px;
    text-align: center;
    color: #969696;
}
footer .bottom{
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .bottom .company{
    width: 611px;
    height: 60px;
}
footer .bottom .company ul{
    display: flex;
    justify-content: space-between;
}
footer .bottom .company ul li a{
    display: block;
    color: #969696;
    font-size: 14px;
    width: 85px;
    text-align: center;
    border-right: 1px solid #ccc;
}
footer .bottom .company ul li:first-child a{
    padding-left: 0;
}
footer .bottom .company ul li:last-child a{
    padding-right: 0;
}
footer .bottom .company p{
    margin-top: 10px;
    color: #969696;
    text-align: center;
    font-size: 14px;
}