/* banner区 */
.banner{
    display: flex;
    height: 500px;
    position: relative;
}
.banner aside{
    position: absolute;
    top: 0;
    left: 0;
    height: 500px;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.42);  
}
.banner aside ul li{
    display: flex;
    height: 50px;
    padding:0 20px 0 29px;
    justify-content: space-between;
}
.banner .banner_img{
    flex: 1;
}
.banner aside ul li dl{
    display: flex;
    height: 50px;
    align-items: center;
}
.banner aside ul li dl dt{
    margin-right: 14px;
}
.banner aside ul li dl dd{
    margin-right: 5px;
    font-size: 14px;
}
.banner aside ul li dl a{
    color: #fff;
}
.banner aside ul li::after{
    content: ">";
    line-height: 50px;
    color: #fff;
}
.banner aside ul li:hover{
    background-color: #00BE9A;
}
.banner .dots{
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
    margin-right: 14px;
    align-items: center;
}
.banner .dots div{
    width: 22px;
    height: 22px;
    border-radius: 21px;
    position: relative;
    background-color: #C0CDBB;
}
.banner .dots span{
    width: 16px;
    height: 16px;
    border-radius: 8px;
    margin-left: 8px;
    background-color: #fff;
}
.banner .dots div span{
    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -8px;
    position: absolute;
    background-color: #fff;
}
.fresh_box{
    height: 516px;
}
.title{
    display: flex;
    height: 112px;
    justify-content: space-between;
}
.title span{
    margin-top: 52px;
}
.title .desc{
    display: flex;
}
.title .desc h2{
    margin-right: 35px;
    margin-top: 40px;
}
.title .desc span{
    color: #A1A1A1;
}
.title span>a{
    margin-top: 52px;
    color: #A1A1A1
}
.title .nav_type{
    display: inline-block;
    margin-right: 65px;
}
.title .nav_type ul{
    display: flex;
    justify-content: space-evenly;
}
.title .nav_type ul li a{
    font-size: 16px;
    color: #333;
    padding: 0 5px 0 5px;
    margin-left: 10px;
}
.title .nav_type ul li a:hover{
    background-color: #00BE9A;
}

.cards{
    height: 404px;
}
.cards ul{
    display: flex;
    justify-content: space-between;
}
.cards ul li img{
    height: 304px;
}
.cards ul li a{
    display: block;
    height: 404px;
    width: 304px;
}
.cards ul li .size1{
    display: block;
    width: 244px;
    height: 404px;
}
.cards ul li .bgc_1{
    background-color: #EEF9F4;
}
.cards ul li a h3{
    text-align: center;
    margin-top: 17.5px;
    font-size: 20px;
}
.price{
    font-size: 22px;
    text-align: center;
    margin-top: 8.5px;
    color: #AA2113 ;
}
.cards ul li a .recommend{
    font-size: 16px;
    text-align: center;
    margin-top: 15px;
    color: #A1A1A1 ;
}
.bgc_hot{
    background-color: #F5F5F5;
}
.hot_box{
    height: 468px;
}
.hot_box .title{
    position: relative;
}
.hot_box .arr{
    display: flex;
    justify-content: space-between;
    width: 52px;
    height: 20px;
    position: absolute;
    bottom: 15px;
    right: 0;
}
.hot_box .arr div{
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background-color: #E2E2E2;
}
.hot_box .arr div:hover{
    background-color: #00BE9A;
}
.cards2{
    display: flex;
}
.cards2 .left{
    width: 248px;
    height: 610px;
    margin-right: 24px;
}
.cards2 .right ul{
    display: flex;
    width: 968px;
    flex-wrap: wrap;
}
.cards2 .right ul li{
    height: 305px;
    width: 242px;
    padding: 10px 21px 0 21px;
    position: relative;
}
.cards2 .right ul li img{
    width: 200px;
    height: 180px;
}
.cards2 .right ul li>a{
    width: 200px;
    height: 180px;
}
.cards2 .right ul li>a>.desc{
    margin-top: 10px;
    height: 95px;
}
.cards2 .right ul li>a>.desc p{
    font-size: 16px;
    margin: 0;
}
.cards2 .right ul li>a>.desc .price{
    text-align: left;
    font-size: 22px;
}
.cards2 .right ul li>a>.desc p:last-child{
    margin-bottom: 7px;
}
.cards2 .right ul li .cover{
    width: 242px;
    height: 83.5px;
    position: absolute;
    bottom: 0;
    background-color: #00BE9A;
    padding: 15px 0 15px 0;
    justify-content: center;
    color: #fff;
    opacity: 0;
}
.cards2 .right ul li .cover p:first-child a{
    padding: 0 51px 0 51px;
    font-size: 18px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 3.5px;
    width: 120px;
    margin-left: 30px;
    color: #fff;
}
.cards2 .right ul li .cover p:last-child a{
    font-size: 13px;
    text-align: center;
    margin-left: 70px;
    color: #fff;
}
.cards2 .right ul li .cover:hover{
    margin-left: -22.5px;
    opacity: 1;
}
.cards2 .right ul li:hover{
    border: 2px solid #00BE9A;
}
.news_box .cards li a{
    display: block;
    height: 355px;
    width: 405px;
    padding-top: 15px;
    position: relative;
}
.news_box .cards .show{
    width: 100%;
    height: 70px;
    margin-top: 204px;
    padding-left: 15px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.7));
}
.news_box .cards .show p:first-child{
    font-size: 20px;
    margin-bottom: 6px;
    color: white;
}
.news_box .cards .show p:nth-child(2){
    font-size: 16px;
    color: white;
    margin-bottom: 6px;
}
.news_box .cards .show .price{
    position: absolute;
    font-size: 18px;
    right: 10px;
    bottom: 87px;
    background-color: #fff;
}
.news_box .cards a .comment{
    display: flex;
    justify-content: space-between;
    width: 405px;
    padding: 23px 15px 24px 15px;
    font-size: 14px;
}
.news_box .cards a .comment .left span:nth-child(1){
    color: #AA2113;
}
.news_box .cards a .comment .left span:nth-child(3){
    margin-left: 20px; 
}
.news_box .cards li:nth-child(1) a{
    background-image: url(../uploads/topic1.png);
    background-repeat: no-repeat;
}
.news_box .cards li:nth-child(2) a{
    background-image: url(../uploads/topic2.png);
    background-repeat: no-repeat;
}
.news_box .cards li:nth-child(3) a{
    background-image: url(../uploads/topic3.png);
    background-repeat: no-repeat;
}